# Web app
NEXT_PUBLIC_APP_URL=http://localhost:3000
AI_SERVER_BASE_URL=100.118.176.104:8000
AI_SERVER_INTERNAL_KEY=change-me

# AI server
WEB_SERVER_INTERNAL_BASE_URL=http://your-web-server-tailnet-name:3000
OLLAMA_BASE_URL=http://localhost:11434
STORY_MODEL=qwen2.5:14b-instruct
VISION_MODEL=qwen2.5vl:7b
INTERNAL_API_KEY=change-me